---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="relative overflow-hidden bg-red-900 py-16"
  aria-label="Page Banner"
>
  <div
    class="pointer-events-none absolute inset-0 z-10 flex items-center justify-center select-none"
  >
    <!-- translate-y-14 -->
    <svg
      id="Layer_2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 286.051 305.046"
      class="shrink-0 translate-y-12 opacity-30"
      height="1400px"
      ><defs
        ><style>
          .cls-1 {
            fill: #fe0200;
          }
          .cls-2 {
            fill: #fff;
          }
          .cls-3 {
            fill: #cc0909;
          }
          .cls-4 {
            fill: #441211;
          }
        </style></defs
      ><g id="logo"
        ><rect width="286.051" height="305.046"></rect><path
          class="cls-2"
          d="M122.886,161.528c3.293,1.181,8.477,1.357,11.287,1.357h.001c.539,0,1.023-.006,1.429-.014-1.396-2.008-3.721-5.169-4.906-6.036-1.187-.871-9.232-3.415-15.182-5.168,1.108,2.476,3.719,7.559,7.371,9.86Z"
        ></path><path
          class="cls-2"
          d="M163.791,161.528c-3.294,1.181-8.478,1.357-11.287,1.357h-.002c-.539,0-1.023-.006-1.429-.014,1.396-2.008,3.722-5.169,4.905-6.036,1.187-.871,9.232-3.415,15.183-5.168-1.108,2.476-3.719,7.559-7.37,9.86Z"
        ></path><path
          class="cls-3"
          d="M144.089,209.983c3.25-3.875,11.625-10,18.625-16.5s11.25-16.25,11.25-16.25c0,0-3.375,1.375-5.375,2.125,2.125-2.875,7.875-13.625,8.25-18-4.125,3-16.625,9.125-20.375,9s-12.25-4.125-12.25-4.125l-.875-.334-.875.334s-8.5,4-12.25,4.125-16.25-6-20.375-9c.375,4.375,6.125,15.125,8.25,18-2-.75-5.375-2.125-5.375-2.125,0,0,4.25,9.75,11.25,16.25s15.375,12.625,18.625,16.5l.75.875.75-.875Z"
        ></path><path
          class="cls-3"
          d="M147.505,127.317c9.666,1.334,24.5,10.833,24.5,10.833,0,0-8.5-2.833-17-4,25.334,10,41.334,32.167,43,40.667-.334,5.333-5,10.833-5,10.833,0,0-2.166-12.5-6-19.333,0,24.333-9.834,40.667-17.334,50.833,17.334-10.001,39.168-31.833,41-43.666-2.832-19.833-20.666-41.667-26.832-49.667,4.166,2.5,11,8.167,16.166,14.334-1.5-10.166-5.834-33.501-18.834-50.833s-36-24.333-36-24.333l-1.833-.439-1.833.439s-23,7.001-36,24.333-17.333,40.668-18.833,50.833c5.166-6.167,11.999-11.834,16.166-14.334-6.166,8-23.999,29.834-26.833,49.667,1.833,11.833,23.667,33.665,41,43.666-7.5-10.166-17.333-26.5-17.333-50.833-3.833,6.833-6,19.333-6,19.333,0,0-4.666-5.5-5-10.833,1.666-8.5,17.666-30.667,43-40.667-8.5,1.167-17,4-17,4,0,0,14.833-9.499,24.5-10.833,0,0,4.061-.791,8.333,0Z"
        ></path><path
          class="cls-3"
          d="M144.339,270.858c7.875-12.25,20.125-15.875,29.625-22.375s12.75-14.5,17.625-20.75,14-8.5,16.25-11.25,5.375-10.5,9.25-14.625c-4.625,2.25-10.375,9.375-12.75,11.5s-9.875,6.625-9.875,6.625c0,0,.125-4,.5-5.5s6.375-11.5,6.375-11.5c0,0-8.875,6.25-13.125,10.25-4.25,5.625-6.125,12.5-6.125,12.5,0,0,3.5-3.75,6.75-5.75-3.75,14.25-15.5,19.375-19.625,19.875.625-2.75,3-7.5,6.5-11.375-9.375,2.875-15.125,9.875-17.5,13.75s-7,8.625-10.5,9.375c-.125-4.875-.25-12.75,8.75-23.25,12.5-13.875,19.5-32.375,19.875-40.875-8.125,21.75-31.875,40.625-31.875,40.625l-1.125.792-1.125-.792s-23.75-18.875-31.875-40.625c.375,8.5,7.375,27,19.875,40.875,9,10.5,8.875,18.375,8.75,23.25-3.5-.75-8.125-5.5-10.5-9.375s-8.125-10.875-17.5-13.75c3.5,3.875,5.875,8.625,6.5,11.375-4.125-.5-15.875-5.625-19.625-19.875,3.25,2,6.75,5.75,6.75,5.75,0,0-1.875-6.875-6.125-12.5-4.25-4-13.125-10.25-13.125-10.25,0,0,6,10,6.375,11.5s.5,5.5.5,5.5c0,0-7.5-4.5-9.875-6.625s-8.125-9.25-12.75-11.5c3.875,4.125,7,11.875,9.25,14.625s11.375,5,16.25,11.25,8.125,14.25,17.625,20.75,21.75,10.125,29.625,22.375l1.083,1.459.916-1.459Z"
        ></path><path
          class="cls-3"
          d="M80.464,202.358s-9-10.875-11.75-16.5c0,0-.375,6.25,1.875,11,3.25,3.375,9.875,5.5,9.875,5.5Z"
        ></path><path
          class="cls-3"
          d="M206.214,202.358s9-10.875,11.75-16.5c0,0,.375,6.25-1.875,11-3.25,3.375-9.875,5.5-9.875,5.5Z"
        ></path><path
          class="cls-1"
          d="M108.005,35.65s-13.999,20.666,5.667,38.5c-5,2.333-9,4.667-9,4.667l-4.5,8s-25.333-25.833,7.833-51.167Z"
        ></path><path
          class="cls-1"
          d="M178.672,35.65s13.999,20.666-5.667,38.5c5,2.333,9,4.667,9,4.667l4.5,8s25.334-25.833-7.833-51.167Z"
        ></path><path
          class="cls-2"
          d="M171.823,138.014c-.75-.875-17.5-13.156-29.375-13.156s-27.719,13.25-27.719,13.25l.022-.009c1.119-.708,15.144-9.502,24.42-10.782,0,0,4.061-.791,8.333,0,8.903,1.228,22.181,9.379,24.223,10.658.031.013.065.026.096.039Z"
        ></path><path
          class="cls-2"
          d="M176.787,161.441h-.069c-4.231,3.027-16.536,9.041-20.254,8.917-3.75-.125-12.25-4.125-12.25-4.125l-.875-.334-.875.334s-8.5,4-12.25,4.125c-3.725.124-16.078-5.917-20.284-8.938h-.028s12.61,9.438,20.297,10.312c7.437-1.562,12.875-4.625,12.875-4.625l.272-.124.27.145s5.437,3.062,12.875,4.625c7.687-.875,20.297-10.312,20.297-10.312Z"
        ></path><path
          class="cls-4"
          d="M169.743,217.107c17.322-10.02,39.099-31.807,40.928-43.623-2.818-19.74-20.494-41.457-26.74-49.548-.036-.025-.071-.053-.107-.078,0,0,4,7.875,6.5,14.875-7.25-6.25-16.625-13-21.625-15.5,5.25,5.625,19.75,21.875,22.75,31-9.25-8.375-19.875-15.291-36.334-20.041.003.002.005.004.008.007,25.266,10.023,41.22,32.132,42.883,40.618-.32,5.123-4.627,10.385-4.967,10.793-.002.013-.004.026-.006.039-1.621,6.235-12.897,23.213-23.318,31.442-.01.014-.02.027-.03.041.02-.009.039-.017.059-.025Z"
        ></path><path
          class="cls-4"
          d="M93.615,185.649c-.005-.027-.008-.056-.012-.083-.564-.688-4.621-5.787-4.931-10.749,1.663-8.48,17.592-30.56,42.821-40.593.013-.011.025-.022.039-.032-16.458,4.75-27.083,11.666-36.333,20.041,3-9.125,17.5-25.375,22.75-31-5,2.5-14.375,9.25-21.625,15.5,2.5-7,6.5-14.875,6.5-14.875-.013.009-.025.019-.038.027-6.212,8.053-23.955,29.819-26.78,49.599,1.833,11.833,23.667,33.665,41,43.666-10.443-8.208-21.766-25.251-23.391-31.501Z"
        ></path><path
          class="cls-4"
          d="M175.198,86.608s-2.125-3.375-4.875-6.375c9.403,5.863,16.941,17.3,18.552,19.854-2.153-4.419-4.693-8.756-7.704-12.77-13-17.333-36-24.333-36-24.333l-1.833-.439-1.833.439s-23,7.001-36,24.333c-2.965,3.953-5.475,8.22-7.607,12.57,1.848-2.902,9.248-13.932,18.425-19.654-2.75,3-4.875,6.375-4.875,6.375,0,0,12.875-13.125,30.625-17.75l1.312-.25,1.188.25c17.75,4.625,30.625,17.75,30.625,17.75Z"
        ></path><path
          class="cls-4"
          d="M176.795,161.47s-8.597,15.388-17.472,23.638c2.375-.25,5.375-.75,5.375-.75,0,0-7,10.25-20.125,15.5l-1.25.5-1.25-.5c-13.125-5.25-20.125-15.5-20.125-15.5,0,0,3,.5,5.375.75-8.825-8.203-17.371-23.457-17.467-23.63.461,4.444,6.125,15.029,8.232,17.88-2-.75-5.375-2.125-5.375-2.125,0,0,4.25,9.75,11.25,16.25s15.375,12.625,18.625,16.5l.75.875.75-.875c3.25-3.875,11.625-10,18.625-16.5s11.25-16.25,11.25-16.25c0,0-3.375,1.375-5.375,2.125,2.039-2.759,7.4-12.75,8.165-17.421l.041-.467Z"
        ></path><path
          class="cls-2"
          d="M144.698,231.65c2.833-2.5,12.25-11,20.417-21.916,7.318-9.782,10.419-19.693,10.984-21.648-8.334,21.493-31.636,40.022-31.636,40.022l-1.125.792-1.125-.792s-23.505-18.686-31.745-40.297l-.103-.077s2.916,11.084,11.083,22c8.167,10.916,17.584,19.416,20.417,21.916,0,0,1.177,1.021,1.458,1.271.625-.594,1.375-1.271,1.375-1.271Z"
        ></path><path
          class="cls-4"
          d="M182.128,225.596c-.021.075-.036.125-.037.13.002,0,.004-.001.006-.001.078-.084,3.49-3.722,6.687-5.707l.023-.035s2.203-4.562,2.703-5.5c-3.328,1.972-7.833,8.009-9.383,11.113Z"
        ></path><path
          class="cls-4"
          d="M185.969,233.546c-3.437,4.625-10.312,13.5-23.812,16.438,0,0,2.187-4.25,2.937-7.125-2.187,3.375-5.5,7.312-8.625,10.125s-9.062,6.875-11.625,9.625l-1.395,1.167-1.438-1.167c-2.562-2.75-8.5-6.812-11.625-9.625s-6.437-6.75-8.625-10.125c.75,2.875,2.938,7.125,2.938,7.125-13.5-2.938-20.375-11.812-23.813-16.438-3.437-4.625-8.312-8.562-8.312-8.562,0,0,.046.094.127.255.862.759,1.674,1.579,2.388,2.495,4.875,6.25,8.125,14.25,17.625,20.75s21.75,10.125,29.625,22.375l1.083,1.459.916-1.459c7.875-12.25,20.125-15.875,29.625-22.375s12.75-14.5,17.625-20.75c.746-.957,1.6-1.81,2.505-2.596-.912.758-5.079,4.31-8.125,8.408Z"
        ></path><path
          class="cls-4"
          d="M95.136,214.483c.5.938,2.703,5.5,2.703,5.5,3.25,2,6.75,5.75,6.75,5.75-1.485-3.062-6.078-9.25-9.453-11.25Z"
        ></path></g
      ></svg
    >
  </div>

  <div class="relative z-20 mx-auto max-w-300 px-8">
    <h1
      class="text-center text-4xl font-bold tracking-wide text-white uppercase drop-shadow-lg drop-shadow-black/50 sm:text-5xl"
    >
      {title}
    </h1>
  </div>
</section>
